<!DOCTYPE html>

<html>
    <head>
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html-gl/0.3.1/htmlgl.min.js" integrity="sha512-MffjPWwAY9ra9a7OXYEo1j9JiYD8IHJ6Pr1hjxSKk7gNzpYk6YRFB0QOQNg7EvxBosNclFOjl7Fe+1cMGI3rEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form id="live_form">
            <div class="form-group">
             <label class="control-label ">
              What you want to do with your asset?
             </label>
             <div class="">
              <div class="radio">
               <label class="radio">
                <input name="rating" type="radio" value="return"/>
                Return
               </label>
              </div>
              <div class="radio">
               <label class="radio">
                <input name="rating" type="radio" value="replace"/>
               Replace/Repair
               </label>
              </div>
             </div>
            </div>
            <div class="form-group hidden">
             <label class="control-label" for="feedback_bad">
              We're sorry to hear you had a bad experience.  What went wrong?
             </label>
             <textarea class="form-control" cols="40" id="feedback_bad" name="feedback_bad" rows="10"></textarea>
            </div>
            <div class="form-group hidden">
             <label class="control-label" for="feedback_ok">
             why you want to Return?
             </label>
             <textarea class="form-control form-control" cols="40" id="feedback_ok" name="feedback_ok" rows="10"></textarea>
            </div>
            <div class="form-group hidden" id="div_testimonial">
              <div>
                  <label class="control-label " for="testimonial">
                  Mention the kind of damage
                  </label>
                  <div>
                  <label class="radio-inline">
                   <input name="testimonial" type="radio" value="yes"/>
                   Physical
                  </label>
                   <label class="radio-inline">
                   <input name="testimonial" type="radio" value="yes"/>
                   Software/Internal
                  </label>
                  </div>
              </div>
            </div>
            <div class="form-group hidden">
             <label class="control-label " for="feedback_great">
              Add description of the problem you are facing:
             </label>
             <textarea class="form-control" cols="40" id="feedback_great" name="feedback_great" rows="10"></textarea>
            </div>
            <div class="form-group hidden" id="thanks_anyway">
             <label class="control-label">
              No problem, thanks for being a customer!
             </label>
            </div>				 
            <div class="form-group">
              <button class="btn btn-primary " name="submit" type="submit">
               Submit
              </button>
            </div>
           </form>	
        
           <script src="scripts.js"></script>
    </body>
</html>