{% extends 'home/base.html' %}

{% block head %}
<title>
    Admin Panel | EazyUpdates
</title>
{% endblock head %}

{% block body %}
    {% for i in tickets %}
    <div class="card" style="width: 18rem; margin:5%">
        <div class="card-body">
          <h5 class="card-title">{{i.Asset.Name}}</h5>
          <p class="card-text">{{i.Asset.Description}}</p>
          <p class="card-text">Serial : {{i.Asset.SerialID}}</p>
        </div>
        <a type="button" class="btn btn-info" href="{% url 'take-action' i.id %}"  id="{{i.id}}">Take Action</a>
    </div>
    {% endfor %}
{% endblock body %}