{% extends 'home/base.html' %}

{% block head %}
<title>Assets | EazyUpdates</title>
{% endblock head %}

{% block body %}
<div class="jumbotron jumbotron-liquid">
    <h2 class="text text-info text-center">
        Asset Management
    </h2>
</div>
{% for i in assets %}
<div class="card" style="width: 18rem; margin:5%">
    <div class="card-body">
      <h5 class="card-title">{{i.Name}}</h5>
      <p class="card-text">{{i.Description}}</p>
      <p class="card-text">Serial : {{i.SerialID}}</p>
    </div>
    <div class="card-footer">
      {% if i.id in ids %}
      <a type="button" class="btn btn-danger" href="{% url 'raise-ticket' i.id %}"  id="{{i.id}}">Track</a>
      {% else %}
        <a type="button" class="btn btn-info" href="{% url 'raise-ticket' i.id %}"  id="{{i.id}}">Raise A ticket</a>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock body %}