{% extends 'home/base.html' %}
{% block head %}
<title>
    Take Action | EazyUpdates
</title>
<style>
    .wrapper {
        background: #ffd800;
        width: 844px;
        height: 160px;
        margin: auto ;
      }
      
      body{
        height: 100vh;
        padding: 10px;

      }          
      .margin-area {
        position: relative;
        text-align: center;
        font-family: "Trebuchet", sans-serif;
        font-size: 14px;
        margin: 0 20px;
      }
      
      .dot {
        height: 30px;
        width: 30px;
        position: absolute;
        background: #000;
        border-radius: 50%;
        top: 10px;
        color: #fff;
        line-height: 30px;
        z-index: 9999;
      }
      .dot.one {
        left: 65px;
        
        background: #bbb;
      }
      .dot.two {
        left: 280px;
        background: #bbb;
      }
      .dot.three {
        left: 490px;
        background: #bbb;
        color: #ffd800;
      }
      .dot.four {
        left: 700px;
        background: #bbb;
        color: #ffd800;
      }
      
      .progress-bar {
        position: absolute;
        height: 10px;
        width: 25%;
        top: 20px;
        left: 10%;
        background: #bbb;
      }
      .progress-bar.first {
        background: white;
      }
      .progress-bar.second {
          left: 37%;
          background: white;
      }
      .progress-bar.third {
          left: 64%;
          background: white;
      }
      
      .message {
        position: absolute;
        height: 60px;
        width: 170px;
        padding: 10px;
        margin: 0;
        left: -8px;
        top: 0;
        color: #000;
      }
      .message.message-1 {
        top: 40px;
        color: #000;
      }
      .message.message-2 {
        left: 210px;
      }
      .message.message-3 {
        left: 210px;
        color: #000;
      }
      .message.message-4 {
        left: 210px;
      }
      
      .status {
        position: absolute;
        width: 700px;
        left: -600px;
        text-align: center;
        padding: 20px;
        color: black;
      }
      .status.code {
        top: 40px;
      }
      
      a {
        color: #0c84d9;
        text-decoration: none;
        font-weight: bold;
      }
      a:hover, a:focus {
        text-decoration: underline;
      }
      .action-card{
          margin-top:50%;
          margin-left:-250%;
      }
      .description{
          width:300px;
      }
</style>
{% endblock head %}
{% block body %}
<div class="jumbotron jumbotron-liquid">
    <h2 class="text text-info text-center">
        Take Action
    </h2>
</div>

<div class="wrapper mt-5">
    <div class="margin-area">
      <div class="dot one" id="0">1</div>
      <div class="dot two" id="1">2</div>
      <div class="dot three" id="2">3</div>
      <div class="dot four" id="3">4</div>
      <div class="progress-bar first" id="4"></div>
      <div class="progress-bar second" id="5"></div>
      <div class="progress-bar third" id="6"></div>
      <div class="message message-1">Open<div>
      <div class="message message-2">Approval Confirmed<div>
      <div class="message message-3">Asset Review<div>
      <div class="message message-4">Replaced/ Repair /Collected<div>
      
    </div>
        <div class="status code"> ticket Id: <a href="#">{{status.id}}</a>
  </div>
<script src="" async defer></script>
<div id="status" style="display:none;">
    {{status.status}}
</div>
<div class="action-card">
    <div class="card" style="width: 18rem;">
        <p class="text text-info">Damage Type:</p>
        {{status.damagetype}}
        <div class="card-body">
          <p class="card-title">Reason:</p>
          <p class="card-text">{{status.reason}}</p>
        </div>
      </div>
    <div class="card" style="width: 18rem; margin:5%">
        {% if status.status == 1 %}
    <a href="{% url 'update-ticket-status' status.id %}">Asset Review Done</a>
    {% elif status.status == 2 %}
    <a href="{% url 'update-ticket-status' status.id %}">Replace/Repair Done</a>
    {% endif %}
</div>

</div>

{% endblock body %}

{% block JS %}
<script>
    var status = document.getElementById('status').innerText
    for(let i = 0;i<=status;i++){
            var div = document.getElementById(i.toString());
            div.style.background = "blue"
            if (i == 1){
              var div = document.getElementById("4")
              div.style.background = "blue"
            }
            if (i == 2) {
              var div = document.getElementById("5")
              div.style.background = "blue"
            }
            if (i == 3) {
              var div = document.getElementById("6")
              div.style.background = "blue"
            }
      }
</script>
{% endblock JS %}