<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">  
    <div class="title">Manage Asset</div>
    <br>
    <select id="select1">
        <option value="replace">Replace</option>
        <option value="add">Add</option>
        <option value="collect">Collect</option>
    </select>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Employee Id</span>
            <input type="text" placeholder="Enter Employee Id" required>
          </div>
          <div class="input-box">
            <span class="details">Asset Name</span>
            <input type="text" placeholder="Enter Asset Name" required>
          </div>
          <div class="input-box">
            <span class="details">Serial Number</span>
            <input type="text" placeholder="Enter Serial Number" required>
          </div>
          <div class="input-box">
            <span class="details">Short Description</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
